.gradle/
out/
**/*.idea/
build/
classes/
**/*.log
**~
.DS_Store
**/.DS_Store
.local
.shelf
*.ipr
*.iml
*.iws
tablet/src/main/resources/static/css
tablet/src/main/resources/static/tablet/css
src/main/resources/application-local.yml
src/main/resources/bootstrap-local.yml
src/main/resources/application-for*.yml
src/main/resources/bootstrap-for*.yml
*-local.yml
*.jasper
.java-version
